<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
	  <add name="connecttest" connectionString="Data Source=DESKTOP-8D6ATKE\MSSQLSERVERA;Initial Catalog=YS08;User Id=sa;Password=123456"/>
	  <!--<add name="connecttest" connectionString="Data Source=192.168.51.14;Initial Catalog=AIS20240715142118-SHCS;User Id=sa;Password=cc@99999" />-->
  </connectionStrings>
  <appSettings>
    <add key="PATH" value="D:\\PollingServer\\Log\\" />
    <!--	<add key="PATH" value="F:\\Project\\PollingServer\\PollingServer\\Log\\" />-->
	  <!--<add key="ValidateLogin_id" value="6593ab661f74f2" />-->
	<add key="ValidateLogin_id" value="6694c0b3fa50ad" />
    <add key="ValidateLogin_name" value="Administrator" />
    <add key="ValidateLogin_pwd" value="159753a/" />
    <add key="SCLLD_RuleId" value="PRD_PPBOM2PICKMTRL_NORMAL" />
    <add key="SCBLD_RuleId" value="PRD_PPBOM2FEEDMTRL" />
    <add key="SCTLD_RuleId" value="PRD_PICKMTRL2RETURNMTRL" />
    <add key="K3CloudApi" value="http://127.0.0.1/k3cloud/" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>