<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="connecttest" connectionString="Data Source=127.0.0.1;Initial Catalog=YS08;User Id=sa;Password=123456"/>
	</connectionStrings>
	<appSettings>
		<add key="test" value="测试" />
	</appSettings>
</configuration>